<div class="c-flex-col container">
  <div class="c-flex-self-left m-5 c-flex-row gap-4">
    <div class="c-icon">
      <img src="icon-burger.png" alt="">
    </div>
    <h1>Hamburgesas</h1>
  </div>

  <div class="gallery">
    <div
      class="menu-item"
      [ngClass]="item.price < 12 ? 'menu-item-s' : 'menu-item-l'"
      *ngFor="let item of burgers; index as i"
    >
      <img src="{{item.image_path}}.png" alt="" />
      <div class="spacer"></div>
      <h4>{{ item.name }}</h4>
      <h4>s/ {{ item.price }}</h4>
    </div>
  </div>

  <div class="c-flex-self-left m-5 c-flex-row gap-4">
    <div class="c-icon">
      <img src="icon-pizza.png" alt="">
    </div>
    <h1>Pizzas</h1>
  </div>

  <div class="gallery">
    <div
      class="menu-item"
      [ngClass]="item.price < 12 ? 'menu-item-s' : 'menu-item-l'"
      *ngFor="let item of pizzas; index as i"
    >
      <img src="{{item.image_path}}.png" alt="" />
      <div class="spacer"></div>
      <h4>{{ item.name }}</h4>
      <h4>s/ {{ item.price }}</h4>
    </div>
  </div>
  <div class="c-flex-self-left m-5 c-flex-row gap-4">
    <div class="c-icon">
      <img src="icon-drink.png" alt="">
    </div>
    <h1>Bebidas</h1>
  </div>

  <div class="gallery">
    <div
      class="menu-item"
      [ngClass]="item.price < 12 ? 'menu-item-s' : 'menu-item-l'"
      *ngFor="let item of drinks; index as i"
    >
    <img src="{{item.image_path}}.png" alt="" />
    <div class="spacer"></div>
    <h4>{{ item.name }}</h4>
    <h4>s/ {{ item.price }}</h4>
    </div>
  </div>
</div>
