.contenedor {
    width: 100%;
}

.contenedor > * {
    width: 50%;
    padding: 2em;
}

.scroller {
    overflow-y: scroll;
    height: 90%;
}

.detalles {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#inputCant {
    width: 4em;
    border: 3px solid #EC3535;
    border-radius: 2em;
}

.btn-bordeado {
    width: 100%;
    height: 3.5em;
    background-color: #EC3535;
    border-radius: 1em;
    color: white;
    border: none;
    font-weight: 700;
}